body {
    background-color: lightslategray;
  }
  
  h1 {
    color: #c5b8d0;
  }
  
  p {
    color: black;
  }

 /* Add a purple pfkef background color to the top navigation */
  .topnav { background-color: blueviolet;
  overflow:hidden;}

  /* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("https://guyfromportillos.github.io/Project-Robot-Website-01-USA/images/howdy.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("https://guyfromportillos.github.io/Project-Robot-Website-01-USA/images/gordon-wang-capture7-1.jpg");
  min-height: 650px;
}

.bgimg-3 {
  background-image: url("https://guyfromportillos.github.io/Project-Robot-Website-01-USA/images/big-flower.jpg");
  min-height: 650px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.title{
  font-size: 40px;
  color: white;
  font-weight: bolder;
}
.des{
  text-align: center;
  border: 4px solid black;
  padding-left: 10px;
  padding-right: 10px; 
}
.pad{
  padding-left: 20px;
  padding-right: 20px;
}

.size{
 font-size: 40px; 
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
